/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* 
Selektori i yllit eshte forme e css e cila i referohet te gjitha elementeve ne kuader te faqes
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    width: fit-content;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #ff891b;
    --secondary: #03254c;
    --grey: #ddd;
    --accent: #ff891b; /* Adjusted name */
}

nav {
    background: var(--secondary);
    width: 100%;
    height: 80px;
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1;
}

label.logo {
    color: var(--white);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px 0 100px;
}

nav ul {
    color: var(--white);
    float: right;
    margin-right: 20px;
    padding: 0 200px;
}

nav ul li {
    color: var(--white);
    line-height: 80px;
    margin: 0 5px;
    display: inline-block;
}

nav ul li a {
    color: var(--white);
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
}

a.active,
a:hover {
    background: var(--accent);
    border-radius: 20px;
}

.container {
    padding: 0 200px;
}

.hero {
    background: url(library/pexels-photo-7060815.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 120px;
    color: var(--white);
    font-weight: 100;
    margin-bottom: 35px;
    padding: 0px 90px 0px 90px;
    text-align: center;
}

.button-hero {
    display: flex;
    margin: auto;
    padding: 13px 50px;
    background-color: var(--grey);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: var(--secondary);
    cursor: pointer;
}

.button-hero:hover {
    background-color: var(--primary);
    color: var(--white);
}

/* stilizimi i pjeses se sherbimeve */
.services {
    display: flex;
    justify-content: center;
    margin-right: 50px 0;
}

.services h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
}

.cards {
    display: flex;
    width: 100%;
}

.card {
    padding: 50px 100px;
    border: none;
    margin: 0 20px;
    text-align: center;
    box-shadow: 0 5px 20px 0 rgba(158, 157, 157, 0.7), 0 5px 20px 0 rgba(165, 164, 164, 0.7);
    width: 70%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.front {
    backface-visibility: hidden;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    top: 140px;
    left: 10px;
    right: 10px;
}

.back p {
    font-size: 18px;
    color: var(--primary);
}

.card.flip {
    transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg);
}

.card h2 {
    font-size: 28px;
    font-weight: 500;
    color: var(--primary);
    padding-top: 25px;
}

/* stilizimi i kategorive */

.category {
    height: 100vh;
    margin-top: 40px;
}

.category h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.category-images {
    display: flex;
    margin-top: 30px;
}

.category-images img {
    max-width: 400px;
    margin: 0px 20px;
    aspect-ratio: 3/2;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-size: cover;
}

#images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 50px));
    column-gap: 197px;
    grid-row-gap: 7px;
    margin: 18px 100px;
    margin-bottom: 50px;
}

.filter {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 50px;
    background-color: var(--secondary);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: var(--white);
    margin: 10px 5px;
}


/* stilizimi i pjeses se informatave te kompanise */
.projects {
    background-color: var(--secondary);
    width: 100%;
    height: 200px;
    margin: 70px 0 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.projects-details {
    display: flex;
    align-items: center;
}

.projects-details h1 {
    margin: 40px;
}

.button-project {
    padding: 20px 60px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button-project:hover {
    background-color: var(--white);
    color:var(--secondary);
    transition: 0.5s;
}

/* stilizimi i pjeses se cmimores */
.dimensions-calculation {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
}

.dimensions-calculation h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 40px;
    text-align: center;
}

.calculator {
    display: inline-grid;
}

.calculator label {
    font-size: 23px;
    padding: 10px 0px;
}

.calculator input {
    font-size: 23px;
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    width: 100%;
}

.calculator img {
    margin: 40px auto;
}


/* stilizimi i pjeses se rreth nesh */

.about-us {
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    padding: 35px 0px;
}

.about-us h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
}

.about-us-content {
    display: flex;
}

.about-us-content img {
    max-width: 700px;
    padding: 0px 40px;
}

.about-us-content p {
    font-size: 18px;
}


/* stilizimi i pjeses se kontaktit */
.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.2);
    padding: 40px 0;
}

.contact h1 {
    font-size: 40px;
    padding: 40px 0;
}

.contact-form {
    font-size: 18px;
    display: grid;
}

.contact-form input {
    width: 600px;
    height: 50px;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3), 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 2px solid var(--primary);
    margin: 10px;
    font-size: 17px;
}

.contact textarea {
    border: 2px solid var(--primary);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3), 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    font-family: Arial;
    font-size: 17px;
}

.contact-form label {
    font-size: 18px;
    display: flex;
    padding: 10px;
}

#send-button {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

#send-button:hover {
    background-color: var(--white);
    transition: 0.5s;
}


/* stilizimi i pjeses se fundit */
.footer {
    background-color: var(--white);
    padding: 70px;
    text-align: center;
    color: var(--white);
    color: var(--secondary);
}
